@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Mitratech is a proven global technology partner for corporate legal departments,
    risk & compliance teams, and HR professionals seeking to raise productivity,
    control expense, and mitigate risk by deepening organizational alignment,
    increasing visibility, and spurring collaboration across the enterprise.
    We partner with our clients to design, develop, deliver and support the best legal,
    risk management, and HR software solutions around, so their departments can become hubs of efficiency,
    innovation, and excellence for the entire organization.
</p>
<div class="row">
      <div class="col-md-4">
        <h2 style="color:navy;"> Please visit our Website </h2>
           <p> <a class="btn btn-default" href="https://mitratech.com/about-us/"> For More Details Visit Our Website &raquo;</a> </p>
    </div>
    <div class="col-md-4">
        <h2 style="color:navy;"> Client Support</h2>
        <p> MitraTech Provides Wounderful Experience for the Clients </p>
        <p> <a class="btn btn-default" href="https://mitratech.com/client-support/"> Click Here More About Client Support &raquo;</a> </p>
    </div>
</div>
