@{
    ViewBag.Title = "MITRATECH INDIA LLP";
}
<h2>@ViewBag.Title.</h2>

<address>
    <h2>Hyderabad</h2>
    8-2-610/68/1,<br />
    3rd Floor, Banjara Hills,<br />
    Road No. 10, Hyderabad Hyderabad <br />
    TG 500034 IN <br />

    <h2>Bengaluru</h2>

    #50,<br />
    near Govt ITI college BMTC Depot road,<br />
    Seegehalli, Magadi Main Rd, Bangalore<br />
    Karnataka IN <br />

</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@mitratech.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@mitratech.com</a>
</address>